<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<div style="position: fixed; bottom: 10px; left: 10px; box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0; background-color: #f9f9f9; padding: 20px; z-index: 1000; border-radius: 5px;">
    <div style="display: flex; justify-content: center;">
        <img src="https://companieslogo.com/img/orig/GOOG-0ed88f7c.png?t=1633218227" width="20px" height="20px" alt="google logo">
    </div>

    <div style="display: flex; gap: 0.5rem; align-items: center; justify-content: center;">
        <div>
            <h4 style="margin: 16px 0">{{rating}}</h4>
        </div>
        <div style="display: flex; gap: 2px;">
            {{#stars}}
                <img src="https://storage.googleapis.com/revuflow-assets/{{color}}_star.png" width="18px" height="18px" alt="grey star">
            {{/stars}}
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <a href="{{url}}" style="text-decoration: underline; color: grey; font-size: 12px;">Read all our reviews</a>
    </div>
</div>
</body>
</html>
