<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<style>
    body {
        font-family: sans-serif;

        .carouselHeader {
            max-width: 100%;
            position: relative;
            padding: 2rem 3rem 0 3rem;
        }

        .carouselHeaderContent {
            margin: 0 10px;
            display: flex;
            padding: 18px 24px 24px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            background-color: rgba(17, 17, 17, 0.05);
        }

        .carouselHeaderRating {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .carouselHeaderRating > * {
            width: 100%;
        }

        .carouselHeaderLogo {
            display: flex;
            align-items: center;
            white-space: nowrap;
            color: rgb(17, 17, 17);
            font-size: 20px;
        }

        .carouselHeaderRateAndStars {
            display: flex;
        }

        .carouselHeaderRate {
            font-weight: bold;
            font-size: 18px;
            margin-right: 10px;
        }

        .carouselHeaderStars {
            font-weight: bold;
            font-size: 18px;
            margin-right: 10px;
        }

        .carouselHeaderUrl > a {
            text-decoration: none;
            color: grey;
            font-size: 12px;
        }

        .googleLogoHeader {
            margin-right: 15px;
            width: 100px;
        }

        .googleLogoText {
            font-size: 20px;
            margin-top: 2px;
        }

        .writeReview {
            border-radius: 4px;
            border-color: rgba(0, 0, 0, 0);
            color: rgb(255, 255, 255);
            font-family: inherit;
            font-weight: bold;
            font-size: 15px;
            padding: 8px 20px;
            margin: 7px 15px 0 0;
            background-color: rgb(25, 123, 255);
            border-width: 2px;
        }

        .carouselCardContainer {
            max-width: 100%;
            position: relative;
            padding: 1rem 3rem;
        }

        .carouselCard {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin: 0 10px;
            padding: 1.5rem;
            border-radius: 10px;
            background-color: rgba(17, 17, 17, 0.05);
            max-width: 100%;
            overflow: hidden;
            height: fit-content;
            word-wrap: break-word;
        }

        .date {
            font-size: 12px;
            color: #808080FF;
            margin: 0;
        }

        .name {
            font-size: 16px;
            margin-bottom: 7px;
        }

        .image {
            border-radius: 50px;
            width: 3rem;
            height: 3rem;
            object-fit: cover;
        }

        .divPN {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        .nameAndDate {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.1rem;
        }

        .starsDiv {
            display: flex;
            gap: 2px;
        }

        .ratingAndStarsDiv {
            display: flex;
            margin-top: 15px;
            gap: 0.5rem;
            align-items: center;
        }

        .googleLogo {
            width: 30px;
            height: 30px;
        }

        .googleLogoDiv {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .linkToPost {
            margin: 0;
            text-decoration: none;
            color: rgb(25, 123, 255);
        }

        .post {
            margin: 0;
            font-size: 11px;
            font-weight: bold;
            color: rgb(128, 128, 128);
        }

        .postedOn {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
</style>

<body>
<div class="carouselHeader">
    <div class="carouselHeaderContent">
        <div class="carouselHeaderRating">
            <div class="carouselHeaderLogo">
                <img class="googleLogoHeader" src="https://storage.googleapis.com/revuflow-assets/google_logo.png" alt="google logo">
                <div class="googleLogoText"> Rating</div>
            </div>
            <div class="carouselHeaderRateAndStars">
                <div class="carouselHeaderRate">{{rating}}</div>
                <div class="carouselHeaderStars">
                    {{#stars}}
                        <img src="https://storage.googleapis.com/revuflow-assets/{{color}}_star.png" width="18px" height="18px" alt="grey star">
                    {{/stars}}
                </div>
                <div class="carouselHeaderUrl">
                    <a href="{{url}}">Read all our reviews</a>
                </div>
            </div>
        </div>
        <div class="carouselHeaderReviewBtn">
            <button class="writeReview">Write a review</button>
        </div>
    </div>
</div>
<div class="carouselCardContainer">
    {{#reviews}}
        <div class="carouselCard">
            <div class="divPN">
                <img src="{{profile_photo_url}}" class="image">
                <div class="nameAndDate">
                    <h1 class="name">{{author_name}}</h1>
                    <p class="date">{{relative_time_description}}</p>
                </div>
            </div>
            <div class="ratingAndStarsDiv">
                <div class="starsDiv">
                    {{#stars}}
                        <img src="https://storage.googleapis.com/revuflow-assets/{{color}}_star.png" width="18px" height="18px" alt="grey star">
                    {{/stars}}
                </div>
            </div>
            <p>{{description}}</p>
            <div class="googleLogoDiv">
                <img src="https://companieslogo.com/img/orig/GOOG-0ed88f7c.png?t=1633218227" class="googleLogo" alt="google logo">
                <div class="postedOn">
                    <p class="post">Posted on</p>
                    <a href="{{author_url}}" class="linkToPost">Google</a>
                </div>
            </div>
        </div>
    {{/reviews}}
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('.carouselCardContainer').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    gap: '5px',
    autoplay: true,
    autoplaySpeed: 2000,
    arrows: true,
    dots: true,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });
});
</script>
</body>
</html>
